<%= form_for @habit, :html => {:class => :nice} do |f| %>
  <% if @habit.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@habit.errors.count, "error") %> prohibited this habit from being saved:</h2>

      <ul>
      <% @habit.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    I would like to start/stop <%= f.text_field :name, :class => "input-text", :placeholder => "smoking, for example" %>
    <%= f.submit "Next", :class => "nice radius blue button" %>
  </div>
<% end %>
