<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "application" %>
  <link href='http://fonts.googleapis.com/css?family=Petrona|Bitter' rel='stylesheet' type='text/css'>
  <%= csrf_meta_tag %>
</head>
<body>

<div id="main">
  <div id="header">
    <% if current_user %>
      <span id="welcome">Welcome, <%= current_user.name %>!</span>
      <%= link_to "Sign Out", signout_path, :id => "sign-out" %>
    <% end %>
  </div>
	<div id="site" class="eight columns centered">
		<div id="container">
			<%= yield %>
		</div>
	</div>
</div>

<div id="footer">
</div>

</body>
</html>
