<!DOCTYPE html>
<html>
<head>
  <title><%= @title %></title>
  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tag %>
</head>
<body>

<% if current_user %>
	Welcome, <%= current_user.name %>!
	<%= link_to "Sign Out", signout_path %>
<% end %>

<div id="header"></div>

<%= yield %>

<div id="footer"></div>

</body>
</html>
