<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "application" %>
  <link href='http://fonts.googleapis.com/css?family=Petrona|Bitter' rel='stylesheet' type='text/css'>
  <%= csrf_meta_tag %>
</head>
<body id="splash">

<div class="container">
  <div class="row">
    <div id="splash-box" class="eight columns centered">
      <%= yield %>
    </div> 
  </div>
</div>

</body>
</html>
